<ion-view view-title="Post Status"> 
	<ion-content class="padding">
		<div class="list list-inset">
			<form>
				<label class="item item-input">
					<textarea name="comment" id="post-textarea" ng-model="postQuote" rows="16" placeholder="Post Your Quote"></textarea>
				</label>
				<div class="item item-body">
					<div class="item item-image">
						<img ng-src="{{postPhoto | trustAsResourceUrl}}" ng-show="showPic" />
					</div>
					<button class="button button-block icon-left ion-camera" ng-click="takePhoto()">Take Photo</button>
					<button class="button button-block button-assertive" ng-click="postComment()">Post</button>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>
