<ion-view view-title="Settings">
	<ion-nav-buttons side="primary">
      <button class="button" ng-click="back()">
		<i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">  
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
	<div class="list">

	  <a class="item item-icon-left" href="#" ng-click="logout()">
		<i class="icon ion-log-out"></i>
		Logout
	  </a> 

	</div>
  </ion-content>
</ion-view>
