/* Empty. Add your own CSS if you like */
.slide-in-down {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.slide-in-down.ng-enter, .slide-in-down > .ng-enter {
  /* -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; */
  -webkit-transition: all cubic-bezier(1, 0.1, 0.7, 0.1) 400ms;
  /* transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; } */
  transition: all cubic-bezier(1, 0.1, 0.7, 0.1) 400ms; }

.slide-in-down.ng-enter-active, .slide-in-up > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-down.ng-leave, .slide-in-down > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }